body
{
    background-color: black;
}
#canvas1
{
    border:solid 1px white;
    width:800px;
    height:550px;
    position:relative;
}
.container
{
    position:absolute;
    width:800px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
p
{
    color:white;
}
.controller
{
    width:100%;
}