#canvas-x
{
    border:solid grey 1px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position: absolute;
    width:400px;
    height:400px;
}
.controls
{
    position:absolute;
    z-index:10;
    top:100px;
    left: 50%;
    transform: translate(-50%);
}
.controls,select,option
{
    font-size:20px;
}